<a href="images/new">Upload Image</a>

<% if @images.any? %>
  <% @images.each do |image| %>
    <h2>
      <%= link_to image.description, image_path(image) %>

        <%= link_to "Like", image_likes_path(image), class: 'likes-link' method: :post %>
        <span class="likes_count"> <%= image.likes.count %> </span> <%= 'like'.pluralize(image.likes.count) %>

      <%= link_to "Comment", new_image_comment_path(image) %>
      <%= link_to "Edit", edit_image_path(image) %>
      <%= link_to "Delete", image_path(image), method: :delete %>
    </h2>
  <% end %>
<% else %>
  No Images Yet
<% end %>
